p6-wsmodel/src/main/resources/META-INF/EwsTransaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://transaction.service.ews.mincom.com" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://transaction.service.ews.mincom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="OperationContext">
<xsd:sequence>
<xsd:element minOccurs="0" name="district" type="xsd:string"/>
<xsd:element minOccurs="0" name="maxInstances" type="xsd:int"/>
<xsd:element minOccurs="0" name="position" type="xsd:string"/>
<xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="runAs" type="ns1:RunAs"/>
<xsd:element minOccurs="0" name="trace" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="transaction" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RunAs">
<xsd:sequence>
<xsd:element minOccurs="0" name="district" type="xsd:string"/>
<xsd:element minOccurs="0" name="position" type="xsd:string"/>
<xsd:element minOccurs="0" name="user" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema><xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.service.ews.mincom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="commit">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="commitResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="rollback">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="rollbackResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="begin">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="beginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="transactionId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>  </wsdl:types>
  <wsdl:message name="commitResponse">
    <wsdl:part name="parameters" element="tns:commitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginResponse">
    <wsdl:part name="parameters" element="tns:beginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginRequest">
    <wsdl:part name="parameters" element="tns:begin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollbackResponse">
    <wsdl:part name="parameters" element="tns:rollbackResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollbackRequest">
    <wsdl:part name="parameters" element="tns:rollback">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commitRequest">
    <wsdl:part name="parameters" element="tns:commit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Transaction">
    <wsdl:operation name="commit">
      <wsdl:input name="commitRequest" message="tns:commitRequest">
    </wsdl:input>
      <wsdl:output name="commitResponse" message="tns:commitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollback">
      <wsdl:input name="rollbackRequest" message="tns:rollbackRequest">
    </wsdl:input>
      <wsdl:output name="rollbackResponse" message="tns:rollbackResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="begin">
      <wsdl:input name="beginRequest" message="tns:beginRequest">
    </wsdl:input>
      <wsdl:output name="beginResponse" message="tns:beginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionServiceHttpBinding" type="tns:Transaction">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="commit">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="commitRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="commitResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollback">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="rollbackRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rollbackResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="begin">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="beginRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="beginResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionService">
    <wsdl:port name="TransactionServiceHttpPort" binding="tns:TransactionServiceHttpBinding">
      <wsdlsoap:address location="http://ellipse-webapp:9090/ews/services/TransactionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
