p6-wsmodel/src/main/resources/wsdl/auth/AuthenticationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AuthenticationService" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Authentication/V1" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/Authentication/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Authentication/V1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/Authentication/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="http://sdc-tssgd01:8206/p6ws/services/AuthenticationService?xsd=IntegrationFault.xsd"/>

            <xsd:element name="Login">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="Password" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="DatabaseInstanceId" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LoginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="Return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Logout"/>
            <xsd:element name="LogoutResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="Return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ReadDatabaseInstances"/>
            <xsd:element name="ReadDatabaseInstancesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="DatabaseInstance">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="DatabaseInstanceId" type="xsd:int"/>
                                    <xsd:element name="DatabaseEncoding" type="xsd:string"/>
                                    <xsd:element name="DatabaseName" type="xsd:string"/>
                                    <xsd:element name="DatabaseType" type="tns:DatabaseTypeType"/>
                                    <xsd:element name="DatabaseUrl" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ReadSessionProperties"/>
            <xsd:element name="ReadSessionPropertiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IsValid" type="xsd:boolean"/>
                        <xsd:element name="UserObjectId" type="xsd:int"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="DatabaseInstanceId" type="xsd:int"/>
                        <xsd:element name="DatabaseEncoding" type="xsd:string"/>
                        <xsd:element name="DatabaseName" type="xsd:string"/>
                        <xsd:element name="DatabaseType" type="tns:DatabaseTypeType"/>
                        <xsd:element name="DatabaseUrl" type="xsd:string"/>
                        <xsd:element name="IgnoreNullComplexFields" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateSessionProperties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="IgnoreNullComplexFields" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateSessionPropertiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="Return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:simpleType name="DatabaseTypeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Oracle"/>
                    <xsd:enumeration value="SQL Server"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IntegrationFault">
    <wsdl:part element="intgfault:IntegrationFault" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSessionPropertiesResponse">
    <wsdl:part element="tns:UpdateSessionPropertiesResponse" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSessionPropertiesRequest">
    <wsdl:part element="tns:UpdateSessionProperties" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadSessionPropertiesResponse">
    <wsdl:part element="tns:ReadSessionPropertiesResponse" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part element="tns:Login" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutRequest">
    <wsdl:part element="tns:Logout" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part element="tns:LoginResponse" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadSessionPropertiesRequest">
    <wsdl:part element="tns:ReadSessionProperties" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadDatabaseInstancesResponse">
    <wsdl:part element="tns:ReadDatabaseInstancesResponse" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadDatabaseInstancesRequest">
    <wsdl:part element="tns:ReadDatabaseInstances" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutResponse">
    <wsdl:part element="tns:LogoutResponse" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuthenticationServicePortType">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginRequest">
    </wsdl:input>
      <wsdl:output message="tns:LoginResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IntegrationFault" name="IntegrationFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutRequest">
    </wsdl:input>
      <wsdl:output message="tns:LogoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDatabaseInstances">
      <wsdl:input message="tns:ReadDatabaseInstancesRequest">
    </wsdl:input>
      <wsdl:output message="tns:ReadDatabaseInstancesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IntegrationFault" name="IntegrationFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadSessionProperties">
      <wsdl:input message="tns:ReadSessionPropertiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:ReadSessionPropertiesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IntegrationFault" name="IntegrationFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionProperties">
      <wsdl:input message="tns:UpdateSessionPropertiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateSessionPropertiesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServiceSOAP12Binding" type="tns:AuthenticationServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:Login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault name="IntegrationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="urn:Logout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDatabaseInstances">
      <soap:operation soapAction="urn:ReadDatabaseInstances" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault name="IntegrationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadSessionProperties">
      <soap:operation soapAction="urn:ReadSessionProperties" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault name="IntegrationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionProperties">
      <soap:operation soapAction="urn:UpdateSessionProperties" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port binding="tns:AuthenticationServiceSOAP12Binding" name="AuthenticationServiceSOAP12port_http">
      <soap:address location="http://sdc-tssgd01:8206/p6ws/services/AuthenticationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>